@charset "utf-8";
body, head, html {
  height: 100%;
  width: 100%;
	background-color: #111214;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
footer {
  margin-top: 20px;
  position: static;
  bottom: 0;
  height: auto;
  background-color: #151518;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 10%;
  padding-left: 10%;
  overflow: hidden;
  
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-bottom: 0.2em;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  display: inline-block;
  font-size: 175%;

}

li a:hover {
  transform: scale(1.2);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #15570e;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.ecohub {
  font-size: 200%;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  font-size: 150%;
}


/* The hero image */
.hero-image {
  /* Set a specific height */
  height: 100%;
  border: '0px';
  padding: '0px';
  margin: '0px';
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;

}

/* url('/Styles/Sources/mapex.jpg') */

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  color: white;
  font-size: 500%;
}

div.hero-text button.thumbtack {
  height: 200%; width: 100%;
  background-image: url('/Styles/Sources/ThumbTack-PNG-Free-Download.png');
  border-color: transparent;
  background-color: transparent;
  background-size: cover;
  padding: 3em;
  position: relative; left: 14vw; top: 3vw; 
}

div.hero-text button.thumbtack


a.startsaving{
  font-size: .75vw;
  background-color: #59a658;
  color:#003010; 
  border-radius: 15px;
  box-shadow: 5px 5px;
  opacity: 85%; 
  border-color: #1d2b0a;
  border-width: 2px;
  padding: .5vw .7vw;
}
div.hero-text a.startsaving:hover{
  font-size: 1vw;
}

div.card {
  margin: 5px;
  border: 1px solid #000000;
  background-color: #181A1E;
  float: left;
  width: 24%;
  border-radius: 10px;
  padding:10px;
  float: left;
}

div.cardImg {
  width: auto;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

div.cardTxt {
  padding: 15px;
  text-align: center;
  background-color: #04141b7c;
  border-bottom-left-radius:10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  color: white;
  font-size: medium;
}

div.infoCard {
  background-color: #181A1E;
  color: white; 
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: center;
}

div.infoCardTxt {
  background-color: #272731;
  color: white; 
  width: 90%;
  border-radius: 20px;
  margin-bottom: 5%;
  text-align: center;
}

div.infoCardTxt p {
  font-size: 16px;
  padding: 5%;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #111214;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #71746e;
  height: 2vw;
  border-radius: 10px;
}

